{% extends  'base.html' %}

{% block content %}
{% include 'components/header.html' %}
<main class="container py-3">
  <div class="row justify-content-center">
    <div class="col-6 border rounded">
      <form action="{{ url_for('submit_task_edit', id=task.id) }}" method="post" class="d-flex flex-column p-5 gap-3">
        {{ form.csrf_token }}

        <h1>
          Editar tarefa
        </h1>

        {% include 'components/flash.html' %}

        <div>
          <label for="" class="form-label">Titulo</label>
          {{ form.title(class='form-control') }}
        </div>

        <div>
          <label for="" class="form-label">Descrição</label>
          {{ form.description(class='form-control') }}
        </div>

        <div>
          {{ form.submit(class='btn btn-primary', value='Salvar alterações') }}
        </div>
      </form>
    </div>
  </div>
</main>
{% endblock %}