{% extends 'base.html' %}

{% block content %}

{% include 'components/header.html' %}

<main class="container py-3">
  <div class="row justify-content-center">
    <div class="col-6">
      <h1>Usuários</h1>
      <table class="table pt-3">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
            <tr>
              <th scope="row">{{ user.id }}</th>
              <td>{{ user.name }}</td>
              <td>{{ user.email }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</main>

{% endblock %}
